*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-Principal-Blanco: white;
    --color-Principal-negro: 8, 0, 2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
